#vision-future-new {
    position: relative;
    .content {
        .des {
            opacity: .7;
            font-size: 1em;
        }
    }
    .user {
        align-items: center;
        margin-top: 3em;
        .txt {
            h4 {
                font-size: clamp(1.5em, 1.504, 3.25em);
            }
            p {
                font-size: 1em;
                opacity: .7;
            }
        }
    }
    .each-block {
        margin-bottom: 2em;
        .txt {
            margin-top: 8px;
            p {
                opacity: .7;
                font-size: 1em;
            }
        }
    }
}
.images-blocks {
    .each-block {
        margin-bottom: 2em;
    }
    img {
        width: 100%;
    }
    .image-sub{
        margin-top: 10px;
        opacity: .7;
        font-weight: 400;
        font-size: 1em;
    }
}
#about-artist {
    .des {
        opacity: .7;
        color: #000000;
    }
}