#predicting {
    position: relative;
    h1 {
        margin-bottom: 15px;
    }
    p {
        font-size: clamp(1em, 1.25vw, 2.5em);
    }
    a {
        font-weight: 500;
        margin-bottom: 1em;
    }
    .each-block {
        border: 0.37px solid #0000001A;
        margin-bottom: 1em;
        box-shadow: 0px 3.65px 3.65px 0px #0000000D;
        .txt {
            background-color: #FBFBFB ;
            padding: 0.75em 1.25em;
            h2 {
                font-size: clamp(2em, 2.7vw, 5em);
            }
        }
    }
}