#world {
    position: relative;
    background-color: $color-black;
    height: 100vh;
    display: flex;
    align-items: end;
    .down-arrow {
        position: absolute;
        bottom: 2em;
        left: 0;
        right: 0;
        z-index: 1;
    }  
    .down-arrow-1 {
        bottom: 1em;
    }    
    .img {
        img {
            margin: 0 auto;
            @include media-breakpoint-between(lg, xxl){
                width: 450px;
            height: 450px;
            }
        }
    }
}
.anchor {
    height: 40px;
    z-index: -1;
    margin-top: -40px;
  }