#world {
    padding: 0 !important;
    position: relative;
    background-color: $color-black;
    height: 100vh;
    display: flex;
    align-items: center;
    .down-arrow {
        position: absolute;
        bottom: 0.5em;
        left: 0;
        right: 0;
        z-index: 1;
    }  
    .down-arrow-1 {
        bottom: 0.5em;
    }    
    .img {
        img {
            margin: 0 auto;
            @include media-breakpoint-between(lg, xxl){
                width: 450px;
                height: 450px;
            }
        }
    }
    &.three-block-home {
        margin-top: -2em;
        .img {
            img {
                @include media-breakpoint-between(lg, xxl){
                    width: 380px;
                    height: 380px;
                }
            }
        }
    }
}
.anchor {
    height: 30px;
    z-index: -1;
    margin-top: -30px;
  }
  .anchor-1 {
    height: 100px;
    z-index: -1;
    margin-top: -100px;
  }
